<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Launch_Test.Execute_MainTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Add_battery</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_Equipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Pilot_authentication</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_OtherEquipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_DefaultLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_Sensor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateClient</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateVisualUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LaunchFunction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_Mission_polygrid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Create_Organisation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
