<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7e666">  <td>19/04/10 19:39:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTestng.Compare_DroneCount_NetworkView_ActualActiveDrone()[pri:2, instance:dashboard.NewTestng@7d70d1b1]">Compare_DroneCount_NetworkView_ActualActiveDrone</td> 
  <td>main@1391942103</td>   <td></td> </tr>
<tr bgcolor="a7e666">  <td>19/04/10 19:39:36</td>   <td>-18628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTestng.loginfunctionality()[pri:0, instance:dashboard.NewTestng@7d70d1b1]">loginfunctionality</td> 
  <td>main@1391942103</td>   <td></td> </tr>
</table>
